In [1]:
import pandas as pd, numpy as np
import glob

In [2]:
def fileListLoad(path : str) :
    lst = []
    fileList = glob.glob(path)

    for f in fileList :
        df = pd.read_sas(f)
        lst.append(df)

    return lst

In [41]:
df_main = fileListLoad('Data/all/*.sas7bdat')

In [97]:
df_2019 = df_main[0].copy()
df_2020 = df_main[1].copy()
df_2021 = df_main[2].copy()

class fileLoad() :
    def __init__() :

In [38]:
df_sup = fileListLoad('Data/sup/*.sas7bdat')

In [96]:
df_2019_sup = df_sup[0].copy()
df_2020_sup = df_sup[1].copy()
df_2021_sup = df_sup[2].copy()

In [49]:
df_24rc = fileListLoad('Data/24rc/*.sas7bdat')

In [50]:
df_2019_24rc = df_24rc[0].copy()
df_2020_24rc = df_24rc[1].copy()
df_2021_24rc = df_24rc[2].copy()

In [51]:
df_2021_24rc

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NF_VA_RAE,NF_VITD,NF_VITE,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_FOLATE,NF_VITC
0,b'2023.01.13.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,0.000000,0.000,0.039607,0.000000,0.00,0.004169,0.007743,0.044074,8.338297,0.000000
1,b'2023.01.13.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,3.226127,0.000,0.048037,40.326583,0.00,0.144530,0.022905,0.205182,15.162795,0.000000
2,b'2023.01.13.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,0.000000,0.000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000
3,b'2023.01.13.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,0.000000,0.000,0.000000,0.000000,0.00,0.003499,0.002705,0.021491,0.794123,0.000000
4,b'2023.01.13.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,2.508934,0.000,0.006371,30.092317,0.00,0.000769,0.013972,0.011664,2.323488,0.263053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406756,b'2023.01.13.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,114.400000,0.208,0.145600,0.000000,114.40,0.043680,0.336960,0.626080,4.160000,1.643200
406757,b'2023.01.13.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,23.715000,0.000,0.766571,61.200000,18.36,0.099450,0.160650,1.836000,14.535000,0.000000
406758,b'2023.01.13.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,1.247000,0.000,0.032035,15.179000,0.00,0.002236,0.004558,0.024123,2.365000,0.155230
406759,b'2023.01.13.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,2.760000,0.000,0.125580,40.020000,0.00,0.044160,0.045540,0.234600,28.980000,2.787600
406760,b'2023.01.13.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,23.998000,0.000,0.110760,284.284000,0.00,0.025844,0.000000,0.203983,14.768000,1.126060

In [54]:
df_2021_sup.columns

Index(['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu',
       'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5',
       'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_oe', 'wt_ntr', 'wt_tot',
       'wt_oent', 'kstrata', 'LS_SUP', 'LS_KIND', 'LS_CODE', 'LS_NAME',
       'LS_CNAME', 'LS_DUR', 'LS_FQ', 'LS_FQ_U', 'LS_SUP_1D', 'LS_AM',
       'LS_AM_U', 'LS_AM_OU', 'LS_CA', 'LS_PHOS', 'LS_FE', 'LS_VA', 'LS_B1',
       'LS_B2', 'LS_NIAC', 'LS_VITC'],
      dtype='object')

In [59]:
df_2021_sup.iloc[0,:]

mod_d                                           b'2023.12.07.'
ID                                               b'A901215301'
ID_fam                                             b'A9012153'
year                                                    2021.0
region                                                     1.0
town_t                                                     1.0
apt_t                                                      2.0
psu                                                    b'A901'
sex                                                        1.0
age                                                       61.0
age_month                                                  NaN
incm                                                       3.0
ho_incm                                                    3.0
incm5                                                      4.0
ho_incm5                                                   4.0
edu                                                        3.0
occp                                                       6.0
wt_hs                                              6938.720501
wt_itvex                                           7002.243054
wt_oe                                              8212.825264
wt_ntr                                             8830.763515
wt_tot                                             6485.107895
wt_oent                                            9232.823363
kstrata                                                  901.0
LS_SUP                                                     1.0
LS_KIND                                                    2.0
LS_CODE                                               b'B0156'
LS_NAME      b'\xc0\xaf\xc7\xd1\xba\xf1\xc5\xb8\xb9\xce\xbe...
LS_CNAME           b'\xc0\xaf\xc7\xd1\xbe\xe7\xc7\xe0\xa2\xdf'
LS_DUR                                                     5.0
LS_FQ                                                      1.0
LS_FQ_U                                                    1.0
LS_SUP_1D                                                  1.0
LS_AM                                                      1.0
LS_AM_U                                                    1.0
LS_AM_OU                                                   NaN
LS_CA                                                      0.0
LS_PHOS                                                    0.0
LS_FE                                                      0.0
LS_VA                                                      0.0
LS_B1                                                      0.0
LS_B2                                                      0.0
LS_NIAC                                                    0.0
LS_VITC                                                 1000.0
Name: 0, dtype: object

In [60]:
df_2021_sup.iloc[1,:]

mod_d                                           b'2023.12.07.'
ID                                               b'A901215301'
ID_fam                                             b'A9012153'
year                                                    2021.0
region                                                     1.0
town_t                                                     1.0
apt_t                                                      2.0
psu                                                    b'A901'
sex                                                        1.0
age                                                       61.0
age_month                                                  NaN
incm                                                       3.0
ho_incm                                                    3.0
incm5                                                      4.0
ho_incm5                                                   4.0
edu                                                        3.0
occp                                                       6.0
wt_hs                                              6938.720501
wt_itvex                                           7002.243054
wt_oe                                              8212.825264
wt_ntr                                             8830.763515
wt_tot                                             6485.107895
wt_oent                                            9232.823363
kstrata                                                  901.0
LS_SUP                                                     1.0
LS_KIND                                                   12.0
LS_CODE                                               b'B7402'
LS_NAME            b'\xbd\xee\xc6\xc8\xc4\xda\xbb\xe7\xb3\xee'
LS_CNAME     b'(\xc1\xd6)\xc0\xaf\xb4\xcf\xbd\xec\xc6\xca((...
LS_DUR                                                     2.0
LS_FQ                                                      1.0
LS_FQ_U                                                    1.0
LS_SUP_1D                                                  1.0
LS_AM                                                      1.0
LS_AM_U                                                    2.0
LS_AM_OU                                                   NaN
LS_CA                                                      0.0
LS_PHOS                                                    0.0
LS_FE                                                      0.0
LS_VA                                                      0.0
LS_B1                                                      0.0
LS_B2                                                      0.0
LS_NIAC                                                    0.0
LS_VITC                                                    0.0
Name: 1, dtype: object

In [92]:
df_2021_sup

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LS_AM_U,LS_AM_OU,LS_CA,LS_PHOS,LS_FE,LS_VA,LS_B1,LS_B2,LS_NIAC,LS_VITC
0,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
1,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
2,b'2023.12.07.',b'A901225501',b'A9012255',2021.0,1.0,1.0,2.0,b'A901',2.0,39.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'2023.12.07.',b'A901234001',b'A9012340',2021.0,1.0,1.0,2.0,b'A901',1.0,49.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,1.4,0.0,1000.0
4,b'2023.12.07.',b'A901234001',b'A9012340',2021.0,1.0,1.0,2.0,b'A901',1.0,49.0,...,2.0,NaN,0.0,0.0,0.0,0.0,0.0,1.4,0.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8162,b'2023.12.07.',b'R904353002',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',2.0,43.0,...,4.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,b'2023.12.07.',b'R904353003',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8164,b'2023.12.07.',b'R904353003',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,4.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8165,b'2023.12.07.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8166,b'2023.12.07.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,4.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

영양제 column은

In [61]:
df_2021.shape == df_2021_sup.shape

False

`LS_KIND`가 다른 등 이유로 인해, 해당 dataset의 key에 해당하는 `ID`가 영양 보충제 부분에서 2개 이상 로우에 존재하는 등 문제가 발생하는 자료이다. 영양 보충제 섭취에 관한 자료를 main dataframe에 join하기 위해 정보를 key별로 요약해야 했는데, 각 key별로 하나의 row로 여러 보충제 정보를 얻기 위해 다음의 절차를 따랐다.

`LS_SUP` : 식이보충제 복용 여부 더미이므로 보존한다. ID별로 다 더하고 더한 개수로 나누면 될 것이다.
`LS_KIND` : 하나의 row로 줄일 것이므로 제거한다. 
`LS_CODE`, `LS_NAME`, `LS_AM_OU`, `LS_AM_U`, `LS_AM`, `LS_SUP_ID`, `LS_FQ_U` : 식이보충제 자체에 대한 정보를 담고 있는 값이고 사용하기 어려우므로 드랍한다.

`LS_DUR`, `LS_FQ` : maximum의 값만을 보존한다.

`LS_CA`, `LS_PHOS`, `LS_FE`, `LS_VA`, `LS_B1`, `LS_B2`, `LS_NIAC`, `LS_VITC` : 식이보충제 제품별로 영양분이 표시되어 있는 칼럼이므로, 개인별로 해당 칼럼을 모두 더해 사용한다.

In [98]:
sumlist = ['LS_CA', 'LS_PHOS', 'LS_FE', 'LS_VA', 'LS_B1', 'LS_B2', 'LS_NIAC', 'LS_VITC']

In [99]:
def toOneRow(df) :
    gdf = df.groupby('ID')
    for i in sumlist :
        df[i] = gdf[i].transform('sum')
    df['LS_SUP'] = gdf['LS_SUP'].transform('mean')
    df['LS_DUR'], df['LS_PHOS'] = gdf['LS_DUR'].transform('max'), gdf['LS_PHOS'].transform('max')

In [100]:
toOneRow(df_2021_sup)

In [101]:
df_2021_sup

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LS_AM_U,LS_AM_OU,LS_CA,LS_PHOS,LS_FE,LS_VA,LS_B1,LS_B2,LS_NIAC,LS_VITC
0,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
1,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
2,b'2023.12.07.',b'A901225501',b'A9012255',2021.0,1.0,1.0,2.0,b'A901',2.0,39.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'2023.12.07.',b'A901234001',b'A9012340',2021.0,1.0,1.0,2.0,b'A901',1.0,49.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,1.4,0.0,1000.0
4,b'2023.12.07.',b'A901234001',b'A9012340',2021.0,1.0,1.0,2.0,b'A901',1.0,49.0,...,2.0,NaN,0.0,0.0,0.0,0.0,0.0,1.4,0.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8162,b'2023.12.07.',b'R904353002',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',2.0,43.0,...,4.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,b'2023.12.07.',b'R904353003',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8164,b'2023.12.07.',b'R904353003',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,4.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8165,b'2023.12.07.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,1.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8166,b'2023.12.07.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,4.0,NaN,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
df_2021_sup[uID[0] == df_2021_sup['ID']]

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LS_AM_U,LS_AM_OU,LS_CA,LS_PHOS,LS_FE,LS_VA,LS_B1,LS_B2,LS_NIAC,LS_VITC
0,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
1,b'2023.12.07.',b'A901215301',b'A9012153',2021.0,1.0,1.0,2.0,b'A901',1.0,61.0,...,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

TypeError: 'method' object is not iterable

In [62]:
df_2021_sup['LS_CNAME'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8167 entries, 0 to 8166
Series name: LS_CNAME
Non-Null Count  Dtype
--------------  -----
8167 non-null   object
dtypes: object(1)
memory usage: 63.9+ KB